$darkGreen:#00BD9A;
$darkGray:#35485f;
$lightGray:#ECF0F1;
$textcolor:#3C6273;
$white:#F0F9FC;
$yellow:#e5ab13;
$torquies: #1abc9c;
$wet: #34495e;
$darkBlue:#232293;
$calendar:#01569d;
$analysis:#02b8d6;
$grower:#ea9643;
$rasberry:#e0dee0;
$blueberry:#92c9f8;
$make:#243243;
$makediv:#1a5878;
