$darkgreen:#00bd9a;
$darkgray: #35485f;
$lightgray: #ecf0f1;
$textcolor: #3c6273;
$white: #f0f9fc;
$whitish: #fff;
$yellow: #e5ab13;
$gray: #808080;
$torquies: #1abc9c;
$wet: #34495e;
$darkblue: #232293;
$calendar: #01569d;
$analysis: #02b8d6;
$grower: #ea9643;
$rasberry: #e0dee0;
$blueberry: #92c9f8;
$make: #243243;
$makediv: #1a5878;
$partner-color: #504a4b;
$important: !important;
$red: #ff0000;
$blue-eye: #02b8d6;
