.customised-nav {
  background: $whitish;
}

.nav-name {
  color: $gray;
  margin: 18px 20px 10px;
}

.compare-section {
  margin-left: 220px;

  h2 {
    color: $partner-color;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 5px 15px;
    }

	}

.select-checkbox-block {
  width: 96%;
	}

.select-checkbox-group {
  background: $whitish;
  margin: 0;
  padding: 15px 20px;
  }


.checkbox-item {
  border-right: 1px solid $gray;
  padding: 7px 0;
  text-align: center;

  label {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
    margin-left: 0;
    margin-right: 10px;
	}

  select {
    background: $darkgreen;
    border-radius: 3px;
    color: $whitish;
    padding: 6px 5px;
    width: 120px;
  }

  &:nth-child(1) select {
    padding: 5px 10px 5px 36px;
  }

  &:nth-child(3) select {
    background: $calendar;
    }

  &:nth-child(4) {
    border: 0;
    }

}

.product-detail-block {
  width: 96%;
}

.product-group {
  margin: 0;
  padding: 15px 0;
}

.planned-resources-spent {
  color: $gray;
  margin-top: 47px;
  width: 19.5% $important;

  h5 {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 30px;
    width: 118px;
    }

  }

.content-item {
  background: $whitish;
  color: $gray;
  display: block;
  float: left;
  margin-right: 1%;
  position: relative;
  text-align: center;
  width: 25.8%;

  &:nth-child(4) {
    margin-right: 0;
    }

  .meter-img {
    float: right;
    margin-top: 10px;
    position: relative;
    right: 10px;
    }

  .partner-details {
    display: inline;
    float: right;
    padding: 10px 13px;

    a {
      color: $analysis;
    }

}

  .eye {
    float: right;
   }

  .blue-eye {
    color: $analysis;
    left: 6px;
    position: relative;
    top: 18px;
  }

  .heading-1 {
    background: $analysis;
    color: $whitish;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px;
   }

  .display-hr {
    display: inline;
    float: left;
    padding-left: 25px;
  }

  label {
    background: $red;
    color: $whitish;
    display: block;
    float: right;
    margin-right: 16px;
    margin-top: 19px;
    padding: 2px 7px;
   }

  .cold {
    background-color: $analysis;
   }

  .graph-hi-low {
    border-bottom: 1px solid $gray;
    margin: 0;
    padding-bottom: 10px;

    .graph {
      width: 65%;
    }

    .hi-low {
      width: 35%;
    }
  }
 }

@media screen and (min-width :768px) and (max-width:1024px) {
  .checkbox-item {
    padding: 6px 7px 6px 6px;

    select {
      padding: 4px 1px;
      width: 100px;
     }

    &:nth-child(1) {

      select {
        padding: 3px 5px 5px 25px $important;
      }

}

    label {
      font-size: 16px;
      width: 100px;
   }

}

  .planned-resources-spent {

    h4 {
      font-size: 15px;
      margin: 0 auto;
      padding-bottom: 12px;
      padding-top: 30px;
      width: 79px;
     }

    h5 {
      margin-left: auto;
      margin-right: auto;
     }

  }

  .content-item {
    .eye {
      float: none;
      padding: 10px 5px;
      text-align: center;
     }

    .blue-eye {
      font-size: 12px;
      left: -5px;
      position: relative;
      top: 0;
     }

    .partner-details {
      float: none;
      padding: 0;
    }

    label {
      margin-right: 9px;
      margin-top: 21px;
      padding: 2px 5px;
    }

    .very-hot {
      margin-right: 1px;
      padding: 2px 1px;
     }

    .graph-hi-low {
      .graph {
        padding: 0;
        width: 52%;
       }

      .hi-low {
        padding: 0;
        width: 48%;
      }

     }

    .display-hr {
      font-size: 19px;
      padding-left: 5px;
    }

   }
 }


@media screen and (max-width: 767px) {
  .compare-section {
    margin-left: 0;
   }

}

@media screen and (min-width: 1380px) {
  .content-item {
    label {
      margin-right: 25px;
      margin-top: 27px;
    }

    .meter-img {
      margin-top: 15px;
      right: 26px;
      }
   }

  }

@media screen and (min-width :520px) and (max-width:767px) {
  .nav-name {
    margin: -39px 20px 0 0;
   }

  .checkbox-item {

    select {
      padding: 6px 5px;
      width: 105px;
    }

    &:nth-child(1) {

      select {
        padding: 5px 8px 5px 27px;
      }

      label {
        margin-left: 0;
        margin-right: -2px;
        width: 77px;
        }
     }
 }

  .planned-resources-spent {
    h4 {
      font-size: 17px;
      width: 93px;
     }
}

  .content-item {
    .eye {
      float: none;
      font-size: 14px;
      margin: 0;
      padding: 10px 5px;
   }

    .blue-eye {
      font-size: 11px $important;
      left: -3px $important;
      top: 2px $important;
    }

    .partner-details {
      float: none;
      font-size: 11px;
      padding: 7px 1px;
    }

    .meter-img {
      float: right;
      margin-top: 17px;
      position: relative;
      right: 5px;
      width: 45px;
    }

    .graph-hi-low {
      .graph {
        padding: 0 $important;
        position: relative;
        top: 9px;
        width: 60%;
   }
}

    .hi-low {
      padding: 0;
      width: 40%;

      h6 {
        font-size: 11px;
        padding: 0 $important;
    }
	}

    .display-hr {
      font-size: 17px;
      padding-left: 13px;
    }

    .very-hot {
      font-size: 10px;
      margin-right: 3px;
      margin-top: 26px;
      padding: 2px 4px;
      position: relative;
      top: -7px;
   }

    label {
      font-size: 10px;
      margin-right: 4px;
      margin-top: 25px;
   }
 }
}

@media screen and (min-width :320px) and (max-width:519px) {
  .nav-name {
    margin: -42px 5px 0 0;
  }

  .compare-section {
    .select-checkbox-block {
      width: 96%;
		}

    .select-checkbox-group {
      margin: 0;
      padding: 13px 11px;
			}

    .checkbox-item {
      margin-bottom: 10px;
      padding: 8px 0;
      width: 50%;

      label {
        margin-right: 0;
        width: 93px;
     }

      select {
        padding: 5px 0 5px 3px;
        width: 100px;
     }

      &:nth-child(1)   select {
        padding: 5px 0 5px 27px;
       }

      &:nth-child(2) {
        border-right: 0;
     }
}

    .planned-resources-spent {
      h4 {
        font-size: 9px;
        margin: 0 auto;
        padding-bottom: 12px;
        padding-top: 30px;
        width: 55px;
      }

      h5 {
        font-size: 8px;
      }
    }

    .content-item {
      .eye {
        float: none;
        padding: 11px 4px;
        text-align: center;
    }

      .blue-eye {
        color: $blue-eye;
        font-size: 9px;
        left: -3px;
        position: relative;
        top: 0;
    }

      .partner-details {
        display: inline;
        float: none;
        font-size: 11px;
        margin-right: 0;
        padding: 0;
     }

      label {
        font-size: 8px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-top: 19px;
        padding: 1px 2px;
    }

      .heading-1 {
        font-size: 10px $important;
      }

      .meter-img {
        float: right;
        margin-right: 1px;
        margin-top: 16px;
        right: 0;
        width: 30px;
}

      .graph-hi-low {
        margin: 0;
        padding-bottom: 2px;
			}

      .hi-low {
        padding: 0;
        width: 100%;
      }

      .graph {
        padding: 0;
        width: 100%;
			}

      .graph-img {
        width: 70px;
       }

      .display-hr {
        font-size: 9px;
        padding-left: 2px;
        }
      }
    }
  }
