.customised-nav {
	background: white;
	}
.nav-name {
		color: gray;
		margin: 18px 20px 10px;
}
.compare-section {
	margin-left: 220px;
	h2 {
		color:#504a4b;
		margin-top: 0;
		margin-bottom: 0;
		padding: 10px 5px 15px 5px;
	}
	.select-checkbox-block {
			width: 96%;
			.select-checkbox-group {
					margin: 0;
					background: white;
					padding: 15px 20px;
					.checkbox-item {
						border-right: 1px solid gray;
	    			text-align: center;
	    			padding: 7px 0px;
	    			label {
							color:gray;
				    	font-weight: normal;
				    	font-size: 18px;
				    	margin-right: 10px;
			    		margin-left: 0;
	    			}
	    		select {
							padding: 6px 5px;
	    				width: 120px;
	    				background: $darkGreen;
	    				border-radius: 3px;
	    				color: white;
						}
	    		&:nth-child(1) {
					select {
			    	padding: 5px 10px 5px 36px;
						}
					}
		  	&:nth-child(3) {
		  		select {
		  			background: $calendar;
		  		}
		  	}
		  	&:nth-child(4) {
		  		border: none;
		  	}
	   	}
		}
  }
  .product-detail-block {
  			width: 96%;
  			.product-group {
				padding: 15px 0;
				margin: 0;
  		 .planned-resources-spent {
		  			width: 19.5% !important;
		  			border: 1px solid red;
		  			margin-top: 47px;
						color:gray;
						h5 {
							margin-bottom: 20px;
						}
						h4 {
							font-size: 18px;
    					padding-top: 30px;
    					padding-bottom: 12px;
    					width: 118px;
    					margin: 0 auto;
						}
					}
  		.content-item {
					color: gray;
	  			background: white;
	  			position: relative;
	  			text-align: center;
	  			display: block;
	  			float: left;
	  			border: 1px solid green;
	  			width: 25.8%;
	    		margin-right: 1%;
   				&:nth-child(4) {
    				margin-right: 0;
    			}
					.meter-img {
						position: relative;
						float: right;
						margin-top: 10px;
						right: 10px;
					}
    			.partner-details {
    				display: inline;
    				float: right;
    			  padding: 10px 13px;
    			  a {
    			    color: $analysis;
    			   }
    			}
    		.eye {
    			float: right;
    		}
    		.blue-eye {
    			color: $analysis;
    			position: relative;
    			top: 18px;
    			left: 6px;
    		}
    		.heading-1 {
    			color: white;
    			margin-top: 0;
    			margin-bottom: 0;
    			padding: 10px;
    			background: $analysis;
    		}
    		.display-hr {
    			display: inline;
    			float: left;
    			padding-left: 25px;
    		}
    		label {
    			float: right;
    			padding: 2px 7px;
    			background: red;
    			margin-top: 19px;
    			margin-right: 16px;
    			display: block;
					color: white;
    		}
				.cold {
					background-color: $analysis;
				}
			.graph-hi-low {
					margin: 0;
					padding-bottom: 10px;
					border-bottom: 1px solid gray;
					.graph {
					width: 65%;
				}
				.hi-low {
					width: 35%;
					}
				}
  		}
  	}
  }
}
@media screen and (min-width :768px) and (max-width:1024px) {
.compare-section {
	.select-checkbox-block {
		 .select-checkbox-group {
			  .checkbox-item {
					    padding: 6px 7px 6px 6px;
							select{
										padding: 4px 1px;
										width: 100px;
							}
							&:nth-child(1) {
								select{
						    padding: 3px 5px 5px 25px !important;
					}
				}
					 label {
						 font-size: 16px;
						 width: 100px;

					 }

				 }
			 }
		 }
		 .product-detail-block {
			 .product-group {
				 .planned-resources-spent {
					 h4 {
						 font-size: 15px;
						 padding-top: 30px;
						 padding-bottom: 12px;
						 width: 79px;
						 margin: 0 auto;
					 }
					 h5{
						 margin-left: auto;
						 margin-right: auto
					 }
				 }
				  .content-item {
							.eye {
								text-align: center;
								padding: 10px 5px;
								float: none;
							}
							.blue-eye {
								position: relative;
								top: 0px;
								left: -5px;
								font-size: 12px;
							}
							.partner-details{
								float: none;
								padding: 0;
							}
						label {
							padding: 2px 5px;
							margin-top: 21px;
							margin-right: 9px;
						}
						.very-hot {
							margin-right: 1px;
							padding: 2px 1px;
						}
						 .graph-hi-low {
							 .graph {
								 padding: 0;
								 width: 52%;
							 }
							 .hi-low {
								 padding: 0;
								 width: 48%;
							 }
						 }
						 .display-hr {
							  padding-left: 5px;
								font-size: 19px;
						}

						label {
							padding: 2px 3px;
							margin-top: 21px;
							margin-right: 6px;
							}
	 				}
				}
			}
		}
	}


@media screen and (max-width: 767px) {

	.compare-section {
		 margin-left: 0px;
	}
}
@media screen and (min-width: 1380px) {
	.compare-section {
		.product-detail-block {
			 .product-group {
				  .content-item {
						label {
							margin-top: 27px;
							margin-right: 25px;

						}
						.meter-img {
							margin-top: 15px;
							right: 26px;
						}
					}
				}
			}
		}
 }
 @media screen and (min-width :520px) and (max-width:767px) {
	 .nav-name {
		 margin: -39px 20px 0 0;
  	 }
	.compare-section {
		.select-checkbox-block {
			.select-checkbox-group {
				.checkbox-item {
					select {
						padding: 6px 5px;
						width: 105px;
					}
					&:nth-child(1) {
						select {
							    padding: 5px 8px 5px 27px;
						}
					label {
	 	 					margin-right: -2px;
	 						margin-left: 0;
	 						width: 77px;
	  				}
					}
				}
			}
		}
	 .product-detail-block{
		  .product-group {
				.planned-resources-spent {
					h4 {
						font-size: 17px;
    				width: 93px;
					}
				}
				.content-item {
					.eye{
						padding: 10px 5px;
						margin: 0;
						font-size: 14px;
						float: none;
					}
					.blue-eye{
						top: 2px !important;
						font-size: 11px !important;
						left: -3px !important;
					}
					.partner-details{
						float: none;
						padding: 7px 1px;
						font-size: 11px;
					}
					.meter-img {
						position: relative;
						float: right;
						margin-top: 17px;
						right: 5px;
						width: 45px;
					}
					.graph-hi-low {
						.graph {
							width: 60%;
							position: relative;
							top: 9px;
							padding: 0 !important;
						}
						.hi-low {
							width: 40%;
							padding: 0;
							h6 {
								font-size: 11px;
								padding: 0 !important;
						}
					}
				}
					.display-hr {
						font-size: 17px;
						    padding-left: 13px;
					}
					.very-hot{
						margin-top: 26px;
						margin-right: 3px;
						font-size: 10px;
						position: relative;
						    padding: 2px 4px;
						top: -7px;
					}
					label {
						margin-top: 25px;
						margin-right: 4px;
						font-size: 10px;
					}
				}
			}
		}
	}
}
 @media screen and (min-width :320px) and (max-width:519px) {
	 .nav-name {
 		    margin: -42px 5px 0 0;
 	}
	.compare-section {
		.select-checkbox-block {
			width: 96%;
			.select-checkbox-group {
				margin: 0;
				padding: 13px 11px;

				.checkbox-item {
					    padding: 8px 0px;
							width: 50%;
							margin-bottom: 10px;

							label {
								margin-right: 0;
								width: 93px;
							}
							select {
								width: 100px;
								padding: 5px 0px 5px 3px;
							}
							&:nth-child(1) {
								select {
									  padding: 5px 0px 5px 27px;
								}

							}
							&:nth-child(2) {
								border-right: none;
							}
						}
					}
				}
				.product-detail-block {
					.product-group {
						.planned-resources-spent {
							h4 {
								font-size: 9px;
								padding-top: 30px;
								padding-bottom: 12px;
								width: 55px;
								margin: 0 auto;
							}
							h5{
								    font-size: 8px;
							}
						}
						.content-item {
							.eye{
								text-align: center;
    						padding: 11px 4px;
								float: none;
							}
							.blue-eye {
								color: #02b8d6;
								position: relative;
								 top: 0px;
								left: -3px;
								font-size: 9px;
							}
							.partner-details {
								display: inline;
								float: none;
								padding: 0px 0px;
								 margin-right:0;
								font-size: 11px;
															}

							label {
								margin-top: 19px;
								padding: 1px 2px;
								font-size: 8px;
								margin-right: 5px;
								margin-bottom: 5px;
							}
							.heading-1 {
								font-size: 10px !important;
							}
							.meter-img {
								float: right;
								margin-top: 16px;
								width: 30px;
								margin-right: 1px;
								right: 0;
							}
							.graph-hi-low {
								padding-bottom: 2px;
								margin: 0;
								.hi-low {
									    padding: 0;
											width: 100%;
								}
								.graph {
									padding: 0;
									width: 100%;
									.graph-img {
										width: 70px;
									}
								}
							}

							.display-hr {
								padding-left: 2px;
								font-size: 9px;
							}
						}
					}
				}
			}

 		}
		 @media screen and (min-width :320px) and (max-width:360px) {
			 .compare-section .product-detail-block .product-group .content-item {
				/* .blue-eye {
					 top: 33px;
					 left: -31px;
					 font-size: 10px;
				 }
				 .partner-details {
					 font-size: 11px;
					 padding: 7px 0 7px 4px;
					 width: 65px;
				 }*/
			 }
		 }
		  @media screen and (min-width :328px) and (max-width:360px) {
				.compare-section .product-detail-block .product-group .content-item
 			 {

				 }
			}
