* {
	padding: 0;
	margin: 0;
 }
body {
	padding: 0;
	padding-top: 64px;
	margin: 0;
	background-color: $lightGray;
 	}
 .nav-block {
 	margin-bottom:0;
 }
.logo {
	height: 63px;
	padding: 10px 30px;
	img {
		width: 170px;
	}
}
.wrapper {
	padding: 0;
	margin: 0;
}
.heading {
	color: black;
	margin: 18px 20px 10px;
}
.left-sidebar {
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: $darkGray;
	.left-side-nav {
		margin-top: 20px;

		li {
			padding: 10px 25px;
			list-style: none;
			margin: 0 auto;
			font-size: 18px;

			&:nth-child(1) {
						background-color: $make;
				.map {
					border-radius: 100%;
					margin-left: -7px;
					background: $analysis;
					padding: 6px;
					font-size: 30px;
				}
			a {
					padding-left: 20px;
					font-size: 26px;
					margin-left: -15px;
					text-decoration: none;

				}
				.sub-make-section {
					background: $makediv;
					position: relative;
					left: 14px;
					width: 180px;
					padding: 1px 22px;
					margin-top: 15px;
					color: white;
					h4 {
						color: $grower;
					}
				}
			}
			.map {
				padding-right: 20px;
				font-size: 20px;
				color: white;
			}
			a {
				color: white;
				text-decoration: none;
			 }
		}
	}
}
.customize-select {
					padding: 9px 38px;
					color: white;
					background-color: $darkGreen;
					margin-top: 17px;
				}
.layout {
		margin-left: 220px;
		.first-block {
					width: 97%;
					.first-row {
							margin: 0;
	 						.col-overview {
	    							background-color: white;
										.overview-section {
											    text-align: center;
													width: 19.98%;
													border-right: 3px solid $lightGray;
													float: left;
													height: 70px;
											  	background-color: white;
													margin-top: 30px;
													margin-bottom: 60px;
													&:nth-child(3) {
														img {
															display: block;
								    					margin: 0 auto;
				    									margin-top: -11px;
														}
													}
													&:nth-child(5) {
															border: none;
													}
													p {
															font-size: 28px;
															font-weight: bold;
															span {
																padding-right: 7px;
															}
															.small {
																font-weight: normal;
															}
														}
													}
												}
 										}
									}
									.second-row {
										width: 97%;
										.notify-bar {
											padding: 14px;
											h3 {
												font-weight: bold;
												display: inline;
												margin-left: -12px;
												.inactive-members {
													font-size: 16px;
													font-weight: normal;
												}
											}
											.cal-blue {
												float: right;
												margin-top: -7px;
											}
											.calendar {
												padding: 9px 45px;
												background-color: $calendar;
												color: white;
												border-radius: 5px;
											}
											.blueberry {
												padding: 9px 45px;
												background-color: $darkGreen;
												color: white;
												border-radius: 5px;
											}
											.filter {
												margin-left: 94px;
												font-size: 34px;
												position: relative;
												top: 10px;
												color: $darkGreen;
												margin-right: 12px;
											}
										}
									}
									.products-section {
										height: 400px;
										width: 90%;
										.product-row {
												margin: 0;
												.analysis-col {
															padding: 0;
															padding: 0;
															width: 32.8%;
															margin-right: 7.5px;
															text-align: center;
															height: 600px;
															background-color: white;
															&:last-child {
																margin-right: 0 !important;
															}
															img {
																width: 100px;
																margin-top: -50px;
																border: 1px solid white;
															}
															.avg-section {
																margin-right: 0;
																margin-left: 0;
																border-bottom: 1px solid gray;
															}
															.temp,
															.points {
																width: 100px;
																background: black;
																color: white;
															}
															.rasberry {
						    								background: $rasberry;
				   											padding: 0 11px;
											   				font-size: 22px;
				   											margin-right: 10px;
																color: white;
															}
															.blueberries {
																background: $blueberry;
																color: $calendar;
				   											padding: 0 11px;
				   											font-size: 22px;
															}
															.analysis {
						    								border-top: 1px solid gray;
				    										padding-top: 15px;
				    										width: 67%;
				    										margin: 14px auto;
															}
															.btn-compare {
																font-size: 17px;
																padding: 1px 20px;
				  											padding: 1px 33px;
															}
															.btn-detail {
																color: $blueberry;
																font-size: 17px;
																color: #92c9f8;
																padding: 1px 43px;
															}
															.heading-top {
						    								height: 119px;
				    										background: $analysis;
					   										margin-top: -21px;
				   											h2 {
				   											padding-top: 5px;
				   											}
				   											h5 {
			   				    						background: $grower;
			    											width: 60px;
			     											margin: 0 auto;
			   												}
															}
															.runs{
				    										width: 68%;
				    										text-align: center;
				    										margin: 0 auto;
				    										padding-top: 10px;
																padding-bottom: 8px;
																border-bottom: 1px solid gray;
															}
															.products{
																margin-top: 2px;
															}
															.runs,
															.products {
																 font-size: 22px;
																 span{
																			position: relative;
																			top: 6px;
																			font-size: 35px;
																			padding-right: 10px;
																		}
																	}
																}
															}
														}
													}
@media screen and (min-width :1025px) and (max-width:1280px) {
.second-row {
	.notify-bar {
		.cal-blue {
				margin-top: -7px;
				.calendar {
				padding: 9px 39px;
				margin-right: 26px;
			}
			.filter {
				margin-left: 0px;
			}
			.blueberry {
				padding: 9px 35px;
			}
		}
	}
 }

.layout {
	.products-section {
		.product-row {
			.analysis-col {
				height: 570px;
			   margin-right: 5.5px;
				.btn-compare {
						font-size: 15px;
						padding: 1px 2px;
					}
				.btn-detail {
						font-size: 16px;
						padding: 1px 25px
				}
				.blueberries {
						padding: 2px 8px;
						font-size: 16px;
				}
				.rasberry {
						padding: 2px 8px;
						font-size: 16px;
				}
			.analysis {
						width: 72%;
						font-size: 20px;
			}
			.avg-section {
				.avg-temp-text {
					font-size: 18px;
					}
				}
			}
		}
	 }
  }
 }

@media screen and (min-width :768px) and (max-width:1024px){
	.layout{
		.first-block {
				.first-row {
					.col-overview {
					 	.overview-section {
						 		margin-top: 15px;
						 		margin-bottom: 53px;
						 		&:nth-child(1) {
						 			p {
							 			margin-top: 16px;
										}
					 				}
						 			p {
							 		margin-top: -8px;
							 		font-size: 20px;
						 			}
							 }
						 }
					 }
				 }
	.second-row {
		.notify-bar {
				.cal-blue {
					margin-top: -8px;
				}
				h3{
					font-size: 16px;
				}
				.filter {
					font-size: 25px;
					position: relative;
					top: 7px;
					right: -6px;
				}
				.calendar {
					padding: 4px 0px;
					margin-right: -61px;
					margin-left: 10px;
				}
				.blueberry {
					    padding: 4px 0px;
				}
		 }
	}
	.products-section {
		.product-row {
			.analysis-col {
				height: 545px;
				width: 32.72%;
				margin-right: 4.4px;
				&:last-child {
					margin-right: 0 !important;
				}
				.runs {
					font-size: 16px;
					padding-bottom: 8px;
					padding-top: 0;
				}
				.products {
					margin-top: -8px;
					font-size: 16px;
					margin-bottom: 10px;
					span {
						font-size: 28px;
					}
				}
				.btn-detail {
					font-size: 14px;
					padding: 0px 16px;
				}
				.btn-compare {
					font-size: 12px;
					padding: 6px 4px;
				}
				.analysis {
					font-size: 17px;
				}
				.avg-section {
					margin-top: -16px;
					.avg-temp-text {
						font-size: 13px;
						margin-top: 5px;
					}
					.avg-temp {
						font-size: 24px;
					}
				}
				.heading-top {
					h2 {
						font-size: 23px;
					}
		 		}
	  	}
		}
   }
  }
 }
 @media screen and (max-width: 767px) {
	 .left-sidebar {
		 	left: -220px;
	 }
	 .layout {
		 	margin-left: 0px;
	 }
 }
 @media screen and (min-width :520px) and (max-width:767px) {
	 .nav-block {
		 .heading {
			 margin: -43px 30px 0px;
		 }
	 }
	 .layout {
		 .products-section {
			 .product-row {
				 .analysis-col {
						 margin-right: 9.5px;
						 width: 48.9%;
						 height: 645px;
						 &:nth-child(2) {
							 margin-right: 0px !important;
						 }
						 .avg-section {
							 .avg-temp-text {
								 font-size: 18px;
								 }
							 }
							 .analysis {
								     width: 61%;
										 font-size: 21px;
							 }
							 .btn-compare {
								     padding: 5px 4px;
							 }
							 .btn-detail {
								     padding: 5px 17px;
							 }
				 }
			 }
		 }
		 .first-block {
			 	width: 92%;
			 	.first-row {
				 	.col-overview {
					 		height: 232px;
					 		.overview-section {
						  	margin-top: 10px;
						 		&:nth-child(1),
								&:nth-child(2),
								&:nth-child(3) {
									width: 33.333%;
								}
								&:nth-child(3) {
									border: none;
								}
								&:nth-child(5) {
									border: none;
								}
								&:nth-child(4) {
									padding-left: 25px;
									width: 50%;
								}
								&:nth-child(5) {
									padding-right: 25px;
									width: 50%;
								}
							}
 					}
				}
			}
			.second-row {
				.notify-bar {
		 		h3 {
				 	display: block;
					text-align: left;
					font-size: 26px;
					margin-left: 0;
					margin-top: 10px;
					margin-bottom: 13px;
	 			}
	 		.filter {
		     margin-left: 0;
	 	 		}
	 		.cal-blue {
				 margin-left: 17px;
				 float: none;
				 margin-top: 0;
	 	 	}
	 		.calendar {
				 padding: 8px 26px;
				 margin-right: 99px
	 	 	}
	 		.filter-label {
				 float: right;
				 margin-top: -10px;
	 	 }
	 		.blueberry {
		     padding: 8px 26px;
	 	 		}
			}
		}
	}
}
@media screen and (min-width :320px) and (max-width:519px) {
	.nav-block	{
		.heading	{
			margin: -43px 14px 0px;
		}
	}
	.layout {
		margin-left: 16px;
		.products-section	{
			.product-row	{
				.analysis-col	{
					width: 100%;
					margin-top: 20px;
					height:640px;
					.btn-compare {
								padding: 5px 4px;
					}
					.btn-detail{
								padding: 5px 17px;
					}
					&:first-child{
						    margin-top: 0;
					}
					.avg-section {
 					 .avg-temp-text {
 						 font-size: 21px !important;
 						 }
 					 }
				}
			}
		}
		.first-block {
			width: 92%;
			.first-row {
				.col-overview {
					.overview-section {
						 margin-top: 7px;
						 margin-bottom: 52px;
						 &:nth-child(1),
						 &:nth-child(2),
						 &:nth-child(3),
						 &:nth-child(4) {
							 width:	50%;
						 }

						  &:nth-child(2),
							&:nth-child(4),
						 	&:nth-child(5) {
							 border: none;
						 }
						 &:nth-child(5) {
							 width: 100%;
						 }
					 }
				 }
			 }
		 }
.second-row {
 .notify-bar {
		h3 {
			 display: block;
			 text-align: left;
			 font-size: 18px;
			 margin-left: 0;
			 margin-top: 10px;
			 margin-bottom: 13px;
		 }
	.filter {
				margin-left: 0;
				margin-right: 0;
			}
	.cal-blue {
		float: none;
		margin-top: 0;
	}
	.calendar {
		padding: 6px 2px;
	}
	.filter-label {
		float: right;
		margin-top: -11px;
		margin-left: 22px;
	}
	.blueberry {
				padding: 6px 1px;
	    }
    }
   }
  }
}
