* {
	padding: 0;
	margin: 0;
 }
body {
	padding: 0;
	margin: 0;
	background-color: $lightGray;
 	}
 .nav-block {
 	margin-bottom:0;
 }
.logo {
	height: 63px;
	padding: 10px 30px;
	img {
		width: 170px;
	}
}
.wrapper {
	padding: 0;
	margin: 0;
}
.heading {
	color: black;
	margin: 18px 20px 10px;
}
.left-sidebar {
	width: 220px;
	height: 100%;
	position: fixed;
	background-color: $darkGray;
}
.customize-select {
	padding: 9px 38px;
	color: white;
	background-color: $darkGreen;
	margin-top: 17px;
}
.layout {
margin-left: 220px;
.first-block {
	width:97%;
	.first-row {
			margin: 0;
	 .col-overview {
	    	background-color: white;
	.overview-section {
		    text-align: center;
			width: 19.98%;
			border-right: 3px solid $lightGray;
			float: left;
			height: 70px;
		  	background-color: white;
			margin-top: 30px;
			margin-bottom: 60px;
			&:nth-child(3) {
				img {
					display:block;
				    margin: 0 auto;
    				margin-top: -11px;
				}
			}
			&:nth-child(5){
				border:none;
			}
			p {
				font-size: 28px;
				font-weight: bold;
				span {
					padding-right: 7px;
				}
				.small {
					font-weight: normal;
				}
			}
		}
	}
 }
}
.second-row {
	width:97%;
	.notify-bar{
padding:14px;
	h3{
		font-weight: bold;
		display: inline;
		margin-left: -12px;
		.inactive-members {
			font-size: 16px;
			font-weight: normal;
		}
	}
	.calendar {
		margin-left: 508px;
		padding:9px 45px;
		background-color: $darkBlue;
		color:white;
	}
	.blueberry{
		padding:9px 45px;
		background-color: $darkGreen;
		color:white;
	}
	.filter {
		margin-left: 94px;
		font-size: 34px;
		position: relative;
		top: 10px;
		color: $darkGreen;
		margin-right: 12px;
	}
}
}
.products-section {
	height:400px;
	.product-row{
		margin:0;
		padding-left:58px;
	}
.analysis-col {
	padding:0;
	width:31%;
	margin-right:20px;
	text-align:center;
	border:1px solid red;
	background-color:blue;
	img{
		width:100px;
		margin-top: -50px;
		border:1px solid white;
	}
	.avg-section{
		margin-right:0;
		margin-left:0;
		border-bottom:1px solid green;
	}
	.temp,
	.points{
		width:100px;
		background:black;
		color:white;
	}
	.rasberry{
		    background: green;
   			padding: 0 11px;
   			font-size: 22px;
   			margin-right: 10px;
	}
	.blueberries{
		background: orange;
   			padding: 0 11px;
   			font-size: 22px;
	}
	.analysis{
		    border-top: 1px solid red;
    padding-top: 15px;
    width: 67%;
    margin: 14px auto;	}
	.heading-top{
		    height: 119px;
    		background: red;
   			margin-top: -21px;
   			h2{
   				padding-top:5px;
   			}
   			h5{
   				    background: green;
    width: 60px;
     margin: 0 auto;
   			}
	}
	.runs{
	    width: 68%;
	    text-align: center;
	    margin: 0 auto;
	    padding-top: 10px;
		padding-bottom:8px;
		border-bottom:1px solid gray;
		}
	.products{
		margin-top: 2px;
	}
	.runs,
	.products {
		font-size: 22px;
		span{
			position:relative;
			top:6px;
			font-size: 35px;
			padding-right:10px;
		}
	}
}
}
}
